{% extends 'base.html' %}
{% block title %}ontact us
{% endblock title %}
{% block bodystyle%}
style="background-color:grey;"
{% endblock bodystyle%}

{% block body  %}


<div class="text-center my-5 font-bold ">
  <h2 >
    Enter Your Details
  </h2>
</div>
<form class="text-center "  method="POST" action="/contact">
{% csrf_token %}
    <div class="mb-3 w-25 mx-auto my-1">
        {% comment %} <label for="name" class="form-label">Name </label> {% endcomment %}
        
        <input type="text" class="form-control justify-content-center" id="name " name="name" placeholder="Enter Your Name">
      
      </div>

    <div class="mb-3 w-25 mx-auto">
      {% comment %} <label for="email" class="form-label">Email address</label> {% endcomment %}
      <input type="email" class="form-control justify-content-center" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter Your Email Address">
   
    </div>


  <div class="mb-3 w-25 mx-auto">
    
    {% comment %} <label for="phone" class="form-label">Phone number </label> {% endcomment %}
    <input type="text" class="form-control justify-content-center" id="phone" aria-describedby="emailHelp" name="phone" placeholder="Enter Your phone Number">
    
  </div>

    <div class="mb-3 w-25 mx-auto">
      {% comment %} <label for="exampleInputPassword1" class="form-label">Password</label> {% endcomment %}
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter Your Password">
    </div>
    {% comment %} <div class="mb-3 form-check flex-row " >
      <input type="checkbox" class="form-check-input  " id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> {% endcomment %}
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
{% endblock body  %}

